{% if include.page_top %}
  {% assign slug = "capitole page-top" %}
{% else %}
  {% assign slug = "capitole" %}
{% endif %}
{% include banners/_generic.html
  slug=slug
  locale=include.locale
  source_title="Place du Capitole à Toulouse"
  source_target_url="https://flic.kr/p/qXiK1F"
  source_url="https://flic.kr/p/qXiK1F"
  source_author="Frédéric Neupont"
  source_rights_url="https://creativecommons.org/licenses/by-sa/2.0/"
  source_rights_title="Licence Creative Commons"
  source_rights_shortname="CC BY-SA 2.0"
%}
