/* ==========================================================================
   COLORS
   ========================================================================== */

// Colors definitions

$black                            : #000000;
$softgrey                         : #ABB4BE;
$softwhite                        : #FEFCFC;
$white                            : #FFFFFF;
$brand-color                      : #d15757;

$blue                             : #12A6C6;
$orange                           : #F39C12;
$red                              : #E74C3C;

$pastel-brand                     : lighten($brand-color, 50%);
$pastel-blue                      : lighten($blue, 50%);
$pastel-orange                    : lighten($orange, 40%);
$pastel-red                       : lighten($red, 40%);;
$pastel-yellow                    : #fcfccd;


// Semantics

$regular                          : mix(black, $brand-color, 35%);
$inactive                         : $softgrey;
$info                             : $blue;
$valid                            : $brand-color;
$warning                          : $orange;
$alert                            : $red;

// Colors applications

$default-color                    : mix(black, $brand-color, 35%);
$default-bg                       : $softwhite;
$focus-color                      : $brand-color;

$link-color                       : $focus-color;

$title-color                      : $default-color;

$selection-color                  : $white;
$selection-bg                     : $brand-color;

$hr-color                         : lighten($softgrey, 20%);

$blockquote-border-color          : mix(white, $brand-color, 55%);


// Forms

$label-color                      : $focus-color;

$input-color                      : $default-color;
$input-bg                         : transparent;
$input-border-color               : mix(white, $brand-color, 55%);
$input-focus-color                : $black;
$input-focus-bg                   : transparent;
$input-focus-border-color         : $black;


// Buttons:

$btn-bg                           : mix(white, $brand-color, 55%);
$btn-color                        : #444;
$btn-hover-bg                     : $brand-color;
$btn-hover-color                  : $white;


// Navigation

$nav-bg                           : $white;
$nav-color                        : $link-color;

$nav-trigger-btn-bg               : $softwhite;
$nav-trigger-btn-color            : $default-color;
$nav-trigger-btn-hover-bg         : $nav-trigger-btn-bg;
$nav-trigger-btn-hover-color      : $focus-color;
$nav-trigger-btn-active-bg        : transparent;
$nav-trigger-btn-active-color     : $nav-trigger-btn-color;
$nav-trigger-area-bg              : rgba($white, .9);
