<header class="home-header">
  <div class="wrapper">
    <h1 class="home-main-title">
      <svg width="1em" class="home-main-title-logo" role="img" aria-labelledby="headerLogoTitle" viewBox="0 6.75 38.5 10.75">
        <title id="headerLogoTitle">Sud Web</title>
        <defs>
          <pattern id="pic" patternUnits="userSpaceOnUse" width="38.5" height="20">
            <image xlink:href="{{ "/assets/images/logo-bg.jpg" | relative_url }}" width="38.5" height="20" />
          </pattern>
        </defs>
        <text y="1em">Sud Web</text>
      </svg>
      <div class="home-main-title-baseline">
        {% t La conférence Web surtout Humaine %}
      </div>
    </h1>

  </header>
