<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "Sud Web 2019",
  "description": "La conférence Web surtout Humaine",
  "url": "{{ site.url }}{{ page.baseurl | default:site.baseurl }}",
  "image": "{{ site.url }}{{ site.baseurl }}/assets/images/social/og-image-{{ lang }}.jpg",
  "startDate": "2019-05-25T09:00",
  "endDate": "2019-05-26T18:00",
  "duration": "P2D",
  "location": {
    "@type": "Place",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "15 rue de Crosne",
      "postalCode": "76000",
      "addressLocality": "Rouen",
      "addressRegion": "Normandie"
    },
    "name": "Val de l’Hort"
  },
  "organizer": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": "{{ site.logo }}",
    "sameAs": [
      "https://www.facebook.com/SudWeb",
      "https://twitter.com/sudweb",
      "https://vimeo.com/sudweb",
      "https://www.flickr.com/people/sudweb/"
    ],
    "contactPoint": {
      "@type": "ContactPoint",
      "url": "{{ site.url }}{{ page.baseurl | default:site.baseurl }}/{% t contact %}/",
      "contactType" : "customer service",
      "contactOption": "TollFree"
    },
    "member": [
    {% for member in thym %}
      {% unless forloop.first %},{% endunless %}
      {
        "@type": "Person",
        "name": "{{ member.firstname }} {{ member.lastname }}",
        "sameAs": [
          "https://twitter.com/{{ member.twitter }}",
          "{{ member.url }}"
        ]
      }
    {% endfor %}]
  },
  ]
}
</script>
