---
title: La conférence Web surtout Humaine
description: Deux journ&eacute;es pour faire le plein d&rsquo;inspiration en mai.
i18n-key: home
permalink: /
redirect_from:
- /thym/
---

<section class="section">
  <div class="wrapper">
    <h1>Prochaine édition les 24 et 25 mai à Toulouse&nbsp;!</h1>
    <p>
      Réservez votre place&nbsp;: il existe deux tarifs pour Sud Web, destinés à des publics différents. Ces deux types de billets ouvrent droit à la même expérience sans qu’aucune différence ne soit faite entre les personnes. Les tarifs réduits sont financés par les dons et distribués régulièrement par tirage au sort. Il n’y en a aucun pour le moment.
      {% comment %}Les tarifs réduits et pro-diversité sont financés par <a href="{{ "/financer/" | relative_url }}">la solidarité</a> de la communauté Sud Web, <a href="{{ "/merci/" | relative_url }}">particuliers comme entreprises</a>.{% endcomment %}
    </p>
    <p class="text-center">
      <a class="button" data-text="Tarif plein (120&nbsp;€)" href="{{ '/billetterie' | relative_url }}" title="Réserver une place à plein tarif">
        <span class="button-inner">Tarif plein (120&nbsp;€)</span>
      </a>
      {% comment %}
      <a class="button" data-text="Tarif réduit (30&nbsp;€)" href="#tarif-reduit" title="S’inscrire en liste d’attente pour une place à tarif réduit">
        <span class="button-inner">Tarif réduit (30&nbsp;€)</span>
      </a>
      {% endcomment %}
      {% comment %}
      <a class="button" data-text="tarif pro-diversité (gratuit)" href="#diversity" title="Candidater pour une place pro-diversité">
        <span class="button-inner">tarif pro-diversité (gratuit)</span>
      </a>
      {% endcomment %}
    </p>
  </div>
</section>

<section class="section">
  <div class="wrapper">
    <hr>
  </div>
</section>

<section id="speakers" class="section">
  <div class="wrapper"> <a class="sr-only" src="#conferences">Aller directement au programme détaillé</a>
    <h2 class="text-center">Les intervenant<span aria-hidden="true">·e·</span>s 2019&nbsp;</h2>
    <div class="grid-2">
    {% for speaker in site.speakers %}
    <div>
      <figure class="conference-speaker-pic">
        <a title="Aller directement à l’intervention de {{ speaker.title }}" href="{{ speaker.url | relative_url }}"><img
           data-src="/2019/assets/images/speakers/{{ speaker.image }}" class="person-avatar lozad fade"
            alt="{{ speaker.title }}" width="100" height="100"></a>
      </figure>
      <h3 class="conference-speaker-name" style="margin-bottom: 0.5em;">
        <span class="text-xs">{{ speaker.job }}</span><br>
        <a href="{{ speaker.url | relative_url }}">{{ speaker.speaker }}</a>
      </h3>
      <span>{% if speaker.fr_FR.title %}<strong>{{ speaker.fr_FR.title }}</strong><br>{% endif %}</span>
    </div>
    {% endfor %}
    </div>
    <p class="text-center">
      <a class="button" data-text="Consultez le programme" href="{{ '/programme' | relative_url }}" title="Consulter le programme">
        <span class="button-inner">Consultez le programme</span>
      </a>
    </p>
  </div>
</section>

{% include banners/anduze-conf.html locale=page.locale %}

<section class="section">
  <div class="wrapper">
    <h2>Que comprend une place pour Sud Web&nbsp;?</h2>
    <div class="grid-2">
      <section>
        <h3>Conférences le vendredi matin</h3>
        <p>Le vendredi matin, rendez-vous au <a href="https://www.openstreetmap.org/way/18628306#map=18/43.56276/1.47013" target="_blank" rel="noopener" title="Catalyseur sur open street map">Catalyseur</a> de l’université Toulouse Paul Sabatier pour faire le plein d’énergie avec un petit déjeuner suivi de conférences dans un amphithéâtre. Ces speechs ne sont pas obligatoires mais introduisent la thématique de cette année.</p>
      </section>
      <section>
        <h3>Forum ouvert toute la journée</h3>
        <p>En parallèle, vous aurez la possibilité de proposer vos propres sujets,  ateliers ou autres présentations. Nous laisserons à votre disposition un ensemble de 4 salles dont certaines pouvant accueillir des <em>talks</em> et 1 espace de coworking pour des ateliers plus techniques.</p>
      </section>
    </div>
    <div class="grid-2">
      <section>
        <h3>Un accès au Fablab</h3>
        <p>Nous proposons également un accès au Fablab afin que vous puissiez être initié·es aux machines ou présenter vos projets. Cette salle ne peut accueillir que très peu de personnes par heure mais un formateur sera présent pour vous  accompagner.
        </p>
      </section>
      <section>
        <h3>Un samedi libre et gratuit</h3>
        <p>Après cette journée lab remplie de discussions, d’expériences et de créations, rendez-vous le lendemain au Jardin Monplaisir pour une journée gratuite. Ce rassemblement placé sous le signe de la convivialité permettra de poursuivre les discussions de la veille dans un cadre agréable et reposant.</p>
      </section>
    </div>
    <div class="grid-2">
      <section>
        <a class="button" href="{{ site.locations[0].url | relative_url }}" data-text="{{ site.locations[0].title }}"><span class="button-inner">{{ site.locations[0].title }}</span></a>
      </section>
      <section>
        <a class="button" href="{{ site.locations[1].url | relative_url }}" data-text="{{ site.locations[1].title }}"><span class="button-inner">{{ site.locations[1].title }}</span></a>
      </section>
    </div>
    <p>Si vous avez des questions, n’hésitez pas à nous contacter par <a href="mailto:contact@sudweb.fr" title="Envoyez-nous un email">mail</a>, sur <a href="https://twitter.com/sudweb">Twitter</a>, ou <a href="http://sudweb.herokuapp.com/">Slack</a>.</p>
  </div>
  {% include banners/capitole.html locale=page.locale %}
</section>
