---
title: Programme
description: Le programme de l'édition 2018 de Sud Web
i18n-key: programme
permalink: /programme/
published: true
---

{%- assign conferences = site.talks | sort: "display-order" -%}
{%- assign number_of_conferences = conferences | where_exp:"item","item.type != 'pause'"| size -%}

<section class="section">
  <div class="wrapper">
    <h1>Le programme 2019</h1>
    <p>Bienvenue à Sud Web ! Pour cette année, nous avons cherché à nous rapprocher des valeurs humaines que l'on peut
      trouver dans le milieu du développement web et les secteurs qui gravitent autour. Notre volonté est
      de proposer des espaces aux participant·es pour qu'ielles puissent dialoguer, échanger et expérimenter des
      choses. Nous avons également invité des personnes qui proposent des alternatives, une autre façon de concevoir et
      penser notre métier. 
    </p>
    {% if site.tickets.selling %}
    <p class="text-center"><a class="button" data-text="{% t réserver votre place %}" href="{{ page.baseurl | default:site.baseurl }}/{{ "billetterie" | t: page.locale }}/"
        title="{% t Venir à Sud Web 2019 %}">
        <span class="button-inner">{% t réserver votre place %}</span>
      </a></p>
    {% endif %}
  </div>
</section>

<section class="section">
  <div class="wrapper">
    <hr>
  </div>
</section>

<section class="section">
  <div class="wrapper">
    <div class="grid-2">
      {% for speaker in site.speakers %}
      <section>
        <figure class="person">
          <a title="{{ "Aller directement à l'intervention de %s" | replace:"%s",speaker.title }}" href="{{ speaker.url }}"><img
              src="/2019/assets/images/speakers/{{ speaker.image }}" class="person-avatar lozad" width="150" height="150"></a>
        </figure>
        <a href="/2019{{ speaker.url }}">{{ speaker.speaker }}</a>
        {% if speaker.fr_FR.description %}<p>{{ speaker.fr_FR.description }}</p>{% endif %}
      </section>
      {% endfor %}

    </div>
  </div>
</section>

<section class="section">
  <div class="wrapper">
    <hr>
  </div>
</section>

{% include banners/forum.html locale=page.locale %}
