---
title: "Elles et ils nous soutiennent"
description: "Celles et ceux qui ont aidé Sud Web 2019"
permalink: /merci/
published: true
---

{% for mecene in site.data.mecenes %}
  {% assign total = total | plus: mecene.value %}
{% endfor %}

<section class="section">
  <div class="wrapper">
    <h1>Celles et ceux qui ont aidé Sud Web 2019</h1>

    <p>
      <em>Notre association ne propose plus de contrat de sponsoring avec des entreprises. En revanche, elle permet à des personnes privées aussi bien qu’à des entreprises de nous aider.</em>
    </p>
    <p>
      Pour comprendre, le fonctionnement de notre cagnotte : RDV sur la page <a href="{{ "/financer/#crowdfounding" | relative_url }}">Financement</a>.<br>
      <em>En fonction de la somme versée, l'image de votre choix pourra apparaitre (ou non en cas de volonté d’être anonyme) sur cette page. La taille de votre pictogramme sera proportionnelle au montant de votre aide.</em>
    </p>
    <p class="thanks-value">Montant total en cagnotte <br><strong>{{ total }}&nbsp;€</strong></p>
  </div>
</section>

<section class="section">
<div class="wrapper">
  <h2>Nos donateurs</h2>
  <div class="thanks-grid" style="grid-template-columns: repeat({{ total | divided_by: 24 }}, 1fr);">
  {% assign min = 1 %}
  {% assign max = 16 %}
  {% assign diff = max | minus: min %}
    {% for mecene in site.data.mecenes %}
    {% assign value = mecene.value | strip | remove: "&nbsp;" | plus: 0 %}
      {% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
      {% assign width = value | divided_by: 30 | floor | plus: 1 %}
      <div class="thanks-grid__bloc-{{ width }}" style="grid-area: auto / auto / span {{ width | divided_by: 10 | plus: 1 }} / span {{ width }};">
        <a class="logo" title="{{ mecene.forname  }} {{ mecene.lastname  }}" href="{{ "/financer/#crowdfounding" | relative_url }}">
          <img data-src="/2019/assets/images/merci/{% if mecene.image %}{{ mecene.image }}{% else %}anonymous/{{ randomNumber }}.svg{% endif %}" class="lozad" />
          <span class="sr-only" tyle="font-size: {{ width | divided_by: 5 | plus: 1 }}vw;">{{ mecene.forname  }} {{ mecene.lastname  }}</span>
        </a>
      </div>
    {% endfor %}
  </div>
  </div>
</section>
