---
layout: default
---

<article class="wrapper">

<h1>{{ page.title }}</h1>

<p>{{ page.description }}</p>
  <img src="/2019/assets/images/locations/{{ page.title | slugify }}.jpg" alt="{{ page.title }}" />
  <h2>Comment ça va se passer ?</h2>

  <h3>Pourquoi nous l’avons choisi ?</h3>
  {{ page.why }}

  <h3>C‘est combien ?</h3>
  {{ page.price }}

  <h3>Je mange quoi ?</h3>
  {{ page.eat }}

  <h3>Ce que vous allez y trouver ?</h3>
  {{ page.what }}

  <h3>Ce que vous allez y faire ?</h3>
  {{ page.how }}

  {{ content }}

  <p>Visiter le site web : <a href="{{ page.link }}">{{ page.title }}</a></p>
  <p><a class="button" href="{{ page.location }}" data-text="{{ page.title }}"><span class="button-inner">Consulter la carte</span></a></p>
</article>
