.section {
	margin: 10% 0;

	@include media('>medium') {
		margin: 5% 0;
	}
}

.section-home {
  margin: -5% 0 10%;
}

.illustration {
	font-size: 4em; color: $brand-color;

	@include media('>large') {
		font-size: 3em;
	}
}
