.thanks-value {
  margin: 0;
  text-align: center;
  font-weight: bold;
  margin: auto;
  padding: 1em;
  width: max-content;
  color: #fff;
  background: $brand-color;  
  border-radius: 4px;
  strong {
    display: inline-block;
    padding: 0.5em;
    font-size: 2em;
    line-height: 0;
    vertical-align: middle;
  }
}

.thanks-grid {
  &,
  & > * {
    border: dotted silver;
  }
}

.thanks-grid {
  display: grid; box-sizing: border-box;
  grid-template-columns: repeat(50, 1fr); grid-auto-flow: row dense;
  border-width: 1px 0 0 1px;
  & > * {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; box-sizing: border-box;
    height: auto;
    border-width: 0 1px 1px 0;
  }

  // Animals svg : https://thenounproject.com/creativestall/collection/animals-and-birds-line-icons/
  // Thanks to @borisschapira's The Noun Project pro account

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    height: 100%;
    text-align: center;
    img {
      position: relative;
      display: block;
      margin: auto;
      object-fit: contain;
    }
    span {
      position: absolute;
      display: block;
      margin: auto;
    }
  }
}
