@font-face {
	font-family: 'Oraqle';
	font-style: normal;
	font-weight: normal;
  src: url('../fonts/oraqle_script-webfont.woff2') format('woff2');
  font-display: swap;
  unicode-range: U+000-5FF;
}
